/*  VEHICLELIST STYLES  */
.vehicle__list {
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  list-style-type: none;
  border-style: double;
  padding: 0;
}

.vehicle__list--wrapper {
  list-style-type: none;
  padding: 0;
}

.vehicle__column {
  border-style: double;
  width: 6.5rem;
  text-align: center;
}

/*  VEHICLEFORM STYLES  */
.vehicle__input {
  width: 6.5rem;
}

.vehicle__btn--submit {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  position: relative;
  left: 34.7%;
  width: 30%;
}

/* VEHICLESTORE STYLES */
.vehicle__table {
  flex-direction: column;
  border-radius: 1rem;
  border-style: double;
  align-items: center;
  width: 21rem;
  background-color: khaki;
  position: relative;
  margin-top: 50%;
}
