.page {
  margin-top: 85px;
  align-items: center;
}

.page > p {
  color: beige;
  font-size: 1.5rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  animation: fadein 3s;
}
/* HOME */
.home__title {
  font-size: 10rem;
  margin-top: 40%;
  color: khaki;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ABOUT US */
.about__title {
  font-size: 3rem;
  margin-top: 150px;
  color: khaki;
  animation: fadein 3s;
  text-align: center;
}
/* VEHICLESTORE STYLES */
.vehicle__table {
  flex-direction: column;
  border-radius: 1rem;
  border-style: double;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27rem;
  background-color: khaki;
  position: relative;
  margin-top: 50%;
}
/*  VEHICLELIST STYLES  */
.vehicle__list {
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  border-collapse: collapse;
  position: relative;
  left: 13%;
}
.vehicle__dropdown--header {
  position: relative;
  right: 25.3%;
}
.vehicle__list--header {
  display: flex;
  border-style: double;
  width: 19.5rem;
  justify-content: space-around;
  position: relative;
}
.vehicle__list--btn {
  border-width: 0rem;
  background-color: khaki;
}

/*  VEHICLEFORM STYLES  */
.vehicle__form--container {
  margin-top: 20px;
  position: relative;
}
.vehicle__input {
  width: 6.75rem;
}

.vehicle__btn--submit {
  margin-top: 0.5rem;
  text-align: center;
  position: relative;
  width: 48%;
  margin-right: 5px;
  left: 23%;
}
.pagination__wrapper--vehicle {
  position: relative;
  left: 27%;
  margin-bottom: 10px;
}
.prev,
.next {
  background: khaki;
  border: none;
  padding: 5px;
  color: black;
  margin: 0 10px;
  cursor: pointer;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  size: 0px;
}

/* BRANDLIST STYLES */
.brand__list--header {
  display: flex;
  border-style: double;
  width: 6.5rem;
  justify-content: space-around;
  position: relative;
  right: 3.5%;
}

.brand__list {
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  border-collapse: collapse;
  position: relative;
  left: 24%;
}
.brand__table {
  flex-direction: column;
  border-radius: 1rem;
  border-style: double;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  background-color: khaki;
  position: relative;
  margin-top: 50%;
}
.brand__list--btn {
  background-color: khaki;
  border-style: none;
}
.pagination__wrapper--brand {
  position: relative;
  margin-bottom: 10px;
}

.brand__input {
  width: 6.5rem;
  position: relative;
  left: 20%;
}
.brand__btn--submit {
  margin-top: 0.5rem;
  text-align: center;
  position: relative;
  width: 48%;
  margin-right: 5px;
  left: 25%;
  margin-bottom: 10px;
}

.brand__dropdown--header {
  position: relative;
  right: 3%;
  width: 6.5rem;
  margin-bottom: 5px;
}
