.page {
  margin-top: 85px;
  align-items: center;
}

.page > p {
  color: beige;
  font-size: 1.5rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  animation: fadein 3s;
}
/* HOME */
.home__title {
  font-size: 10rem;
  margin-top: 40%;
  color: khaki;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ABOUT US */
.about__title {
  font-size: 3rem;
  margin-top: 150px;
  color: khaki;
  animation: fadein 3s;
  text-align: center;
}
/* VEHICLESTORE STYLES */
.vehicle__table {
  flex-direction: column;
  border-radius: 1rem;
  border-style: double;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  background-color: khaki;
  position: relative;
  margin-top: 50%;
}
/*  VEHICLELIST STYLES  */
.vehicle__list {
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  border-collapse: collapse;
}
.vehicle__list--header {
  display: flex;
  border-style: double;
  width: 19.5rem;
  justify-content: space-around;
}
.vehicle__list--btn {
  border-width: 0rem;
  background-color: khaki;
}

.vehicle__list--wrapper {
  list-style-type: none;
  padding: 0;
}

.vehicle__column {
  border-style: double;
  width: 6.5rem;
  text-align: center;
}

/*  VEHICLEFORM STYLES  */
.vehicle__input {
  width: 6.75rem;
}

.vehicle__btn--submit {
  margin-top: 0.5rem;
  text-align: center;
  position: relative;
  width: 48%;
  margin-right: 5px;
}
.pagination__wrapper {
  position: relative;
  left: 50%;
  margin-bottom: 10px;
}
.prev,
.next {
  background: khaki;
  border: none;
  padding: 5px;
  color: black;
  margin: 0 10px;
  cursor: pointer;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
.vehicle__column--button {
  width: 1.5rem;
  text-align: center;
  height: 1.5rem;
  background: khaki;
  border-style: none;
}

.rename__form {
  border-style: double;
}

.rename__form > p {
  position: relative;
  left: 30%;
}
.rename__dropdown {
  position: relative;
  left: 32%;
}
.rename__fields {
  position: relative;
  left: 23%;
}
.rename__button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  width: 50%;
  left: 23%;
}
