/* NAVBAR STYLES */
.navbar {
  width: 100%;
  background-color: khaki;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  display: flex;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.navbar__title {
  font-size: 1.5rem;
  align-self: center;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  margin-left: 25px;
}

.navbar__links {
  position: absolute;
  align-self: center;
  right: 0;
  margin-right: 15px;
}

.navbar__links--item {
  margin-right: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
.navbar__links--item:hover {
  padding-bottom: 1.3rem;
  border-bottom: 2px solid rgb(0, 0, 0);
  transition: all 0.2s ease-out;
}

/*  VEHICLELIST STYLES  */
.vehicle__list {
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  list-style-type: none;
  border-style: double;
  padding: 0;
  border-collapse: collapse;
}
.vehicle__list--header {
  display: flex;
  border-style: double;
  width: 19.7rem;
  justify-content: space-around;
}
.vehicle__list--btn {
  border-width: 0rem;
  background-color: khaki;
}

.vehicle__list--wrapper {
  list-style-type: none;
  padding: 0;
}

.vehicle__column {
  border-style: double;
  width: 6.5rem;
  text-align: center;
}

/*  VEHICLEFORM STYLES  */
.vehicle__input {
  width: 6.75rem;
}

.vehicle__btn--submit {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  position: relative;
  left: 34.7%;
  width: 30%;
}

/* VEHICLESTORE STYLES */
.vehicle__table {
  flex-direction: column;
  border-radius: 1rem;
  border-style: double;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21rem;
  background-color: khaki;
  position: relative;
  margin-top: 50%;
}
